---
---

@import 'variables';
@import "{{ site.theme }}";

.center {
    text-align: center;
}

.page-header {
  padding: 20px;
}

.page-title:link, .page-title:visited {
  color: black;
}

.project-tagline {
  color: black;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media-link {
    margin: 0 10px; /* Adjust horizontal spacing here */
}

.navigation {
  color:rgba(0, 0, 0, 1);
}

.navigation:hover {
  color:rgba(169, 169, 169, 1);
}

.donate-button {
  background:#FFCC00;
  display:flex;
  align-items: center;
  justify-content: center;
  width:250px;
  height:48px;
  margin:0 auto;
  border-radius: 6px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.3%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/** Navbar dropdown menus **/

.dropdown.container {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin-bottom: 1rem;
}

.dropdown.anchor,
.dropdown.item {
  cursor: pointer;
  padding: 0.75rem 1rem;
  color: black;
}

.dropdown.anchor::after {
  content: ' ⏷';
}

.dropdown.item:hover,
.dropdown.anchor:hover {
  transition: color 0.2s;
  color: darkgray;
}

.dropdown.contents {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  width: auto;
}

.dropdown.anchor:hover + .dropdown.contents,
.dropdown.contents:active,
.dropdown.contents:hover {
  display: flex;
}

.dropdown.item {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  white-space: nowrap;
}
